{% extends nav.html %}

{% block common %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h3 style="center">凹凸曼</h3>
        <p>Automan 技术保障部数据库管理平台.</p>
        <p>我们的目标: 做到全自动化运维.</p>
        <p>我们的愿景: 不需要DBA的存在.</p>
        <div class="row" style="padding-left:15px">
            <div class="list-group col-xs-4">
            <a class="list-group-item disable">李瑞&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lirui2@ganji.com</a>
            <a class="list-group-item disable">董泽润&nbsp;&nbsp;dongzerun@ganji.com</a>
            <a class="list-group-item disable">赵慎举&nbsp;&nbsp;zhaoshenju@ganji.com</a>
            <a class="list-group-item disable"><kbd>卢加俊&nbsp;&nbsp;lujiajun@ganji.com</kbd></a>
            <a class="list-group-item disable"><kbd>杨桂香&nbsp;&nbsp;yangguixiang@ganji.com</kbd></a>
            </div>
        </div>
        <h4>感谢以下同学的技术支持</h4>
        <h4>刘军 高礼强 潘先河  崔华</h4>
      </div>


    </div> <!-- /container -->
{% end %}
