{% extends nav.monitor.html %}
{% block monitor %}
<div class="col-sm-9 col-md-10 main">
    <h3 class="page-header">监控列表</h3>
    <div class="row placeholders">
      <div class="btn-group">
          <button type="button" class="btn btn-primary">产品线</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
          {% for i in mysqlclassname%}
            <li><a href="/monitor/mysql/findbyclass/{{i['class']}}">{{i['class']}}</a></li>
          {% end %}
          </ul>
     </div>




<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModaladd">
  添加监控
</button>

<!-- Modal -->
<div class="modal fade" id="myModaladd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">添加监控</h4>
      </div>
      <div class="modal-body">


<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="classname" class="col-sm-offset-1 col-sm-2 control-label btn-primary">产品线</label>
    <div class="col-sm-6">
    <select class="form-control" id="inputclassname">
    {% for i in mysqlclassname%}
        <option>{{i['class']}}</option>
    {% end %}
    </select>
    </div>
  </div>



  <div class="form-group">
    <label for="classrole" class="col-sm-offset-1 col-sm-2 control-label btn-primary">角色</label>
    <div class="col-sm-6">
  
    <select class="form-control" id="inputclassrole">
      <option value="1">master(普通主库)</option>
      <option value="0">slave(普通从库)</option>
      <option value="2">mslave(双主)</option>
    </select>
  
    </div>
  </div>
  <div class="form-group">
    <label for="classhost" class="col-sm-offset-1 col-sm-2 control-label btn-primary">主机名</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputclasshost" value="" placeholder="主机名">
    </div>
  </div>
  <div class="form-group">
    <label for="classport" class="col-sm-offset-1 col-sm-2 control-label btn-primary">端口</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputclassport" value="3306" placeholder="默认 3306">
    </div>
  </div>
  <div class="form-group">
    <label for="classdaylag" class="col-sm-offset-1 col-sm-2 control-label btn-primary">白天延迟</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputclassdaylag" value="300" placeholder="默认 300秒">
    </div>
  </div>
  <div class="form-group">
    <label for="classnightlag" class="col-sm-offset-1 col-sm-2 control-label btn-primary">夜间延迟</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputclassnightlag" value="3000" placeholder="默认 3000秒">
    </div>
  </div>
  <div class="form-group">
    <label for="classidc" class="col-sm-offset-1 col-sm-2 control-label btn-primary">机房</label>
    <div class="col-sm-6">
          <select class="form-control" id="inputclassidc">
              {% for i in idc%}
                      <option>{{i['idc']}}</option>
                {% end %}
         </select>
    </div>
  </div>
  <div class="form-group">
    <label for="classuserfor" class="col-sm-offset-1 col-sm-2 control-label btn-primary">用途</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputclassuserfor" value="打飞机" placeholder="默认 打飞机">
    </div>
  </div>
  <div class="form-group">
    <label for="classcomment" class="col-sm-offset-1 col-sm-2 control-label btn-primary">备注</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputclasscomment" value="空军一号" placeholder="默认空军1号">
    </div>
  </div>
</form>




      </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary pull-left" id="add_mon_save" data-dismiss="modal">提交</button>
        </div>
    </div>
  </div>
</div>

    <script type="text/javascript">
        $(function () {
            $('#myModaladd').on('hidden.bs.modal', function (e) {
                window.location.reload()
            });
            $("#add_mon_save").bind("click", function () {
                var inputclassname=$("#inputclassname").val();
                var inputclassrole=$("#inputclassrole").val();
                var inputclasshost=$("#inputclasshost").val();
                var inputclassport=$("#inputclassport").val();
                var inputclassdaylag=$("#inputclassdaylag").val();
                var inputclassnightlag=$("#inputclassnightlag").val();
                var inputclassidc=$("#inputclassidc").val();
                var inputclassuserfor=$("#inputclassuserfor").val();
                var inputclasscomment=$("#inputclasscomment").val();
                $.post("/monitor/mysql/add_mon_save",{inputclassname:inputclassname,inputclassrole:inputclassrole,inputclasshost:inputclasshost,inputclassport:inputclassport,inputclassdaylag:inputclassdaylag,inputclassnightlag:inputclassnightlag,inputclassidc:inputclassidc,inputclassuserfor:inputclassuserfor,inputclasscomment:inputclasscomment} ,function(data){});
            })
        });
    </script>


<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModalconf">
  监控配置
</button>


<!-- Modal -->
<div class="modal fade" id="myModalconf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">监控配置</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



     <h2 class="sub-header"> </h2>
     <div class="panel panel-default">
     <div class="table-responsive">
         <table class="table table-striped table-bordered table-hover">
             <thead>
             <tr class="info">
             <th>产品线</th>
             <th>角色</th>
             <th>主机名</th>
             <th>端口</th>
             <th>白天延迟</th>
             <th>夜间延迟</th>
             <th>1分钟</th>
             <th>用途</th>
             <th>监控</th>
             <th>编辑</th>
             </tr>
             </thead>
             <tbody>
                {% for host in hosts %}
                    {% if host['is_mon'] == 0 %}
                        <tr id="{{host['id']}}_mon_tr" class="active danger hovered">
                    {% else %}
                        <tr id="{{host['id']}}_mon_tr"  class="active hovered">
                    {%end %}
                         <td id="{{host['id']}}_class_tr">{{host['class']}}</td>
                    {% if host['is_master'] == 0 %}
                         <td id="{{host['id']}}_ismaster_tr" value="0">slave</td>
                    {% elif host['is_master'] == 1 %}
                         <td id="{{host['id']}}_ismaster_tr" value="1">master</td>
                    {% elif host['is_master'] == 2 %}
                         <td id="{{host['id']}}_ismaster_tr" value="2">mslave</td>
                    {% else %}
                         <td class="danger" id="{{host['id']}}_ismaster_tr" value="3"><strong>Unknow</strong></td>
                    {%end%}
                         <td id="{{host['id']}}_host_tr" value="{{host['host']}}">{{host['host']}}</td>
                         <td id="{{host['id']}}_port_tr" value="{{host['port']}}">{{host['port']}}</td>
                         <td id="{{host['id']}}_daylag_tr">{{host['day_lag']}}</td>
                         <td id="{{host['id']}}_nightlag_tr">{{host['night_lag']}}</td>
                         <td id="{{host['id']}}_monone_tr">{{host['mon_one']}}</td>
                         <td id="{{host['id']}}_usefor_tr">{{host['usefor']}}</td>
                <td>    
                <!-- Button trigger modal -->
                <button class="btn btn-primary" id="{{host['id']}}_save_btn" data-toggle="modal" data-target="#modal_mon_save">
                  监控
                </button>
                </td>                


                <td>                    
                <!-- Button trigger modal -->
                <button class="btn btn-primary" id="{{host['id']}}_edit_btn" data-toggle="modal" data-target="#modal_mon_edit">
                  编辑
                </button>
                </td>  


                        </tr>
                 {% end %}
             </tbody>
        </table>
    </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="modal_mon_edit" tabindex="-1" role="dialog" aria-labelledby="modal_mon_edit_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modal_mon_edit_label"></h4>
        <label class="control-label" id="modal_mon_edit_monid"></label>
      </div>
      <div class="modal-body">




<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="classname" class="col-sm-offset-1 col-sm-2 control-label btn-primary">产品线</label>
    <div class="col-sm-6">
    <select class="form-control" id="editclassname">
    {% for i in mysqlclassname%}
        <option>{{i['class']}}</option>
    {% end %}    
    </select>
    </div>
  </div>



  <div class="form-group">
    <label for="classrole" class="col-sm-offset-1 col-sm-2 control-label btn-primary">角色</label>
    <div class="col-sm-6">
  
    <select class="form-control" id="editclassrole">
      <option value="1">master</option>
      <option value="0">slave</option>
      <option value="2">mslave</option>
    </select>
  
    </div>
  </div>
  <div class="form-group">
    <label for="classhost" class="col-sm-offset-1 col-sm-2 control-label btn-primary">主机名</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="editclasshost" value="" placeholder="主机名">
    </div>
  </div>
  <div class="form-group">
    <label for="classport" class="col-sm-offset-1 col-sm-2 control-label btn-primary">端口</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="editclassport" value="3306" placeholder="默认 3306">
    </div>
  </div>
  <div class="form-group">
    <label for="classdaylag" class="col-sm-offset-1 col-sm-2 control-label btn-primary">白天延迟</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="editclassdaylag" value="300" placeholder="默认 300秒">
    </div>
  </div>
  <div class="form-group">
    <label for="classnightlag" class="col-sm-offset-1 col-sm-2 control-label btn-primary">夜间延迟</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="editclassnightlag" value="3000" placeholder="默认 3000秒">
    </div>
  </div>
</form>









      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger pull-left" id="comm_edit_del" data-dismiss="modal">删除</button>
        <button type="button" class="btn btn-primary pull-left" id="comm_edit_save" data-dismiss="modal">提交</button>
      </div>
    </div>
  </div>
</div>

        <script type="text/javascript">
            $('#modal_mon_edit').on('hidden.bs.modal', function (e) {
                window.location.reload()
            });


        $('#modal_mon_edit').on('show.bs.modal', function (e) {
            modal_edit_saves = new Array;
            modal_edit_saves = e.relatedTarget.id.split("_");
            var id=modal_edit_saves[0];
            var hostname=document.getElementById(id + "_host_tr").childNodes[0].nodeValue;
            $("#editclasshost").attr("value", hostname)
            $("#editclasshost").html(hostname)

            var hostport=document.getElementById(id + "_port_tr").childNodes[0].nodeValue;
            $("#editclassport").attr("value", hostport)
            $("#editclassport").html(hostport)

            var hostclass=document.getElementById(id + "_class_tr").childNodes[0].nodeValue;
            var editclassname=document.getElementById("editclassname")
            for(i=0;i<editclassname.length;i++){
               if(hostclass == editclassname.options[i].value){
                    editclassname.options[i].selected=true
                }
            }

            var hostrole=document.getElementById(id + "_ismaster_tr").childNodes[0].nodeValue;
            var hostrole_value;
            if(hostrole == "slave"){
                hostrole_value=0
            } else if (hostrole == "master") {
                hostrole_value=1
            } else {
                hostrole_value=2
            }
            var editclassrole=document.getElementById("editclassrole")
            for(i=0;i<editclassrole.length;i++){
                if(hostrole_value == editclassrole.options[i].value){
                    editclassrole.options[i].selected=true
                }
            }

            var hostdaylag=document.getElementById(id + "_daylag_tr").childNodes[0].nodeValue;
            $("#editclassdaylag").attr("value", hostdaylag)
            $("#editclassdaylag").html(hostdaylag)

            var hostnightlag=document.getElementById(id + "_nightlag_tr").childNodes[0].nodeValue;
            $("#editclassnightlag").attr("value", hostnightlag)
            $("#editclassnightlag").html(hostnightlag)

            
            $("#modal_mon_edit_label").html(hostname+":"+hostport+" "+hostclass)
            $("#modal_mon_edit_monid").attr("value", id)
        })
        </script>

    <script type="text/javascript">
        $(function () {
            $("#comm_edit_save").bind("click", function () {
                var editclassname=$("#editclassname").val();
                var editclassrole=$("#editclassrole").val();
                var editclasshost=$("#editclasshost").val();
                var editclassport=$("#editclassport").val();
                var editclassnightlag=$("#editclassnightlag").val();
                var pkid=$("#modal_mon_edit_monid").attr("value");
                var editclassdaylag=$("#editclassdaylag").val();
                $.post("/monitor/mysql/edit_mon_save",{editclassname:editclassname,editclassrole:editclassrole,editclasshost:editclasshost,editclassport:editclassport,editclassnightlag:editclassnightlag,editclassdaylag:editclassdaylag,pk:pkid} ,function(data){});
            })
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#comm_edit_del").bind("click", function () {
                var pkid=$("#modal_mon_edit_monid").attr("value");
                $.post("/monitor/mysql/del_mon_save",{pk:pkid} ,function(data){});
            })
        });
    </script>



                <!-- Modal -->
                <div class="modal fade" id="modal_mon_save" tabindex="-1" role="dialog" aria-labelledby="modal_mon_save_label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="modal_mon_save_label"></h4>
                        <label class="control-label" id="modal_mon_save_monid"></label>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label class="col-sm-offset-1 col-sm-2 control-label-lg label-primary">维护时间</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="mon_savetime_select">
                                    <option value="0" >开启监控</option>
                                    <option value="3600" >维护1 小时</option>
                                    <option value="14400">维护4 小时</option>
                                    <option value="43200">维护12 小时</option>
                                    <option value="86400">维护1 天</option>
                                    <option value="604800">维护7 天</option>
                                    </select>
                                </div>

                          </div> 
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="com_mon_save" data-dismiss="modal">提交</button>
                      </div>
                    </div>
                  </div>
                </div>
<script type="text/javascript">
            $('#modal_mon_save').on('hidden.bs.modal', function (e) {
                window.location.reload()
            });
$('#modal_mon_save').on('show.bs.modal', function (e) {
    console.log(e.relatedTarget)
    modal_mon_saves = new Array;
    modal_mon_saves = e.relatedTarget.id.split("_");
    var id=modal_mon_saves[0];
    var hostname=document.getElementById(id + "_host_tr").childNodes[0].nodeValue;
    var hostport=document.getElementById(id + "_port_tr").childNodes[0].nodeValue;
    var hostclass=document.getElementById(id + "_class_tr").childNodes[0].nodeValue;
    
    $("#modal_mon_save_label").html(hostname+":"+hostport+" "+hostclass)
    $("#modal_mon_save_monid").attr("value", id)
})
</script>

    <script type="text/javascript">
        $(function () {
            $("#com_mon_save").bind("click", function () {
                var montime=$("#mon_savetime_select").val();
                var pkid=$("#modal_mon_save_monid").attr("value");
                $.post("/monitor/mysql/time_mon_save",{montime:montime,pk:pkid} ,function(data){});
            })
        });
    </script>

</div>
{% end %}
